<h2>Learning Resources</h2>
<p>Helpful resources you might want to use in addition to this course.</p>

<ul>
  <li>
    <a
      href="https://angular.dev"
      target="_blank"
      appSafeLink="my-app-dev-doc-link"
      >Angular Documentation</a
    >
  </li>
  <li>
    <a
      href="https://academind.com/courses"
      target="_blank"
      appSafeLink="my-academind-link"
      >Academind Courses</a
    >
  </li>
  <li>
    <a
      href="https://www.google.com/search?q=angular"
      target="_blank"
      appSafeLink="my-google-link"
      >Google</a
    >
  </li>
</ul>
